In [11]:
import pandas as pd
import io
import boto3 

account = 'int'
region = 'us-east-1'

session = boto3.Session(profile_name=account, region_name=region)

example_folder= "tam/dashdata/csv/1631345019"
example_file = "CPU Utilization-data-as-seriestocolumns-2021-09-10 17_23_37.csv"

s3 = session.client('s3')
obj = s3.get_object(Bucket='infor-int-appdata-us-east-1', Key=f'{example_folder}/{example_file}')
df = pd.read_csv(io.BytesIO(obj['Body'].read()))

df

                    Time        web       sync
0    2021-08-29 21:00:00   9.887500  17.151667
1    2021-08-29 21:01:00  11.236667  15.776667
2    2021-08-29 21:02:00  11.997500  12.770000
3    2021-08-29 21:03:00   9.235000  20.350000
4    2021-08-29 21:04:00  10.060000  16.843333
..                   ...        ...        ...
115  2021-08-29 22:55:00   9.075000  41.124167
116  2021-08-29 22:56:00   9.599247  31.466766
117  2021-08-29 22:57:00   9.130756  24.345709
118  2021-08-29 22:58:00   9.211747  25.616764
119  2021-08-29 22:59:00   8.870000  24.097500

[120 rows x 3 columns]